#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.squad{
  border: 2px solid white;
  width: 700px;
  min-height: 500px;
 margin-left: 300px;
}
.boton1{
  box-shadow: 0px 0px 700px rgb(42, 3, 218);
}
.Counter{
border-radius: 50%;
height: 50px;
width: 50px;
margin-left: 850px;

}
.container{
  display: grid;
}
.container-inp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
